@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-hind-madhurai: "Hind Madurai", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

html {
    font-family: var(--font-hind-madhurai);
    font-size: 16px;
}




/* Card  */
.card-desc{
    font-family: var(--font-roboto);
}

.card-number{
    font-family: var(--font-roboto);
}
